USE [master]
GO
/****** Object:  Database [Rights]    Script Date: 21.05.2024 18:36:20 ******/
CREATE DATABASE [Rights]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rights', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Rights.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rights_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Rights_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rights].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rights]
GO
/****** Object:  Table [dbo].[AppealsAndComplaints]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppealsAndComplaints](
	[IdAppeal] [int] IDENTITY(1,1) NOT NULL,
	[IdStaff] [int] NULL,
	[Date] [nvarchar](30) NULL,
	[Discription] [nvarchar](150) NULL,
	[IdStatus] [int] NULL,
 CONSTRAINT [PK_AppealsAndComplaints] PRIMARY KEY CLUSTERED 
(
	[IdAppeal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budget]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budget](
	[IdBudget] [int] NOT NULL,
	[IdCommitte] [int] NULL,
	[Year] [int] NOT NULL,
	[Amount] [nvarchar](50) NOT NULL,
	[UsageMoney] [nvarchar](50) NOT NULL,
	[UnUsageMoney] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Budget] PRIMARY KEY CLUSTERED 
(
	[IdBudget] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Committee]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Committee](
	[IdCommittee] [int] IDENTITY(1,1) NOT NULL,
	[NameCommittee] [nvarchar](30) NOT NULL,
	[IdStaff] [int] NOT NULL,
 CONSTRAINT [PK_Committee] PRIMARY KEY CLUSTERED 
(
	[IdCommittee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommitteePayment]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitteePayment](
	[IdCommitteePayment] [int] IDENTITY(1,1) NOT NULL,
	[IdStaff] [int] NOT NULL,
	[PaymentDate] [nvarchar](30) NOT NULL,
	[PaymentAmount] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_CommitteePayment] PRIMARY KEY CLUSTERED 
(
	[IdCommitteePayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departament]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departament](
	[IdDepartament] [int] IDENTITY(1,1) NOT NULL,
	[NameDepartament] [nvarchar](30) NOT NULL,
	[IdStaff] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[IdDepartament] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[IdMeetings] [int] IDENTITY(1,1) NOT NULL,
	[MeetingsDate] [nvarchar](30) NOT NULL,
	[Discription] [nvarchar](100) NULL,
	[IdCommittee] [int] NOT NULL,
 CONSTRAINT [PK_Meetings] PRIMARY KEY CLUSTERED 
(
	[IdMeetings] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[IdOrganization] [int] IDENTITY(1,1) NOT NULL,
	[NameOrganization] [nvarchar](30) NOT NULL,
	[PhoneNumber] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](180) NOT NULL,
	[IdStatus] [int] NOT NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[IdOrganization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialPrograms]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialPrograms](
	[IdPrograms] [int] NOT NULL,
	[ProgramName] [nvarchar](30) NOT NULL,
	[ProgramDiscription] [nvarchar](150) NULL,
	[IdCommitte] [int] NOT NULL,
 CONSTRAINT [PK_SocialPrograms] PRIMARY KEY CLUSTERED 
(
	[IdPrograms] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solutions]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solutions](
	[IdSolutions] [int] IDENTITY(1,1) NOT NULL,
	[Discription] [nvarchar](150) NULL,
	[IdMeetings] [int] NOT NULL,
 CONSTRAINT [PK_Solutions] PRIMARY KEY CLUSTERED 
(
	[IdSolutions] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[IdStaff] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[MiddleName] [nvarchar](30) NOT NULL,
	[Number] [nvarchar](30) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[IdGender] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[WorkStartDate] [date] NOT NULL,
	[IdDepartment] [int] NULL,
	[IdCommittee] [int] NULL,
	[PhotoStaff] [varbinary](max) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[IdStaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.05.2024 18:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Committee] ON 

INSERT [dbo].[Committee] ([IdCommittee], [NameCommittee], [IdStaff]) VALUES (1, N'Профсоюзный комитет 1', 12)
SET IDENTITY_INSERT [dbo].[Committee] OFF
GO
SET IDENTITY_INSERT [dbo].[Departament] ON 

INSERT [dbo].[Departament] ([IdDepartament], [NameDepartament], [IdStaff]) VALUES (1, N'Профсоюзный отдел', 6)
INSERT [dbo].[Departament] ([IdDepartament], [NameDepartament], [IdStaff]) VALUES (2, N'Юридический отдел', NULL)
INSERT [dbo].[Departament] ([IdDepartament], [NameDepartament], [IdStaff]) VALUES (3, N'Отдел тех. безопасности', NULL)
SET IDENTITY_INSERT [dbo].[Departament] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([IdGender], [GenderName]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([IdGender], [GenderName]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'Президент')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'Директор')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([IdStaff], [FirstName], [LastName], [MiddleName], [Number], [DateOfBirth], [IdGender], [IdUser], [WorkStartDate], [IdDepartment], [IdCommittee], [PhotoStaff]) VALUES (6, N'Егор', N'Трибушинин', N'Петрович', N'+7(956)342-34-12', CAST(N'2004-11-27' AS Date), 1, 2, CAST(N'2019-02-18' AS Date), 1, NULL, NULL)
INSERT [dbo].[Staff] ([IdStaff], [FirstName], [LastName], [MiddleName], [Number], [DateOfBirth], [IdGender], [IdUser], [WorkStartDate], [IdDepartment], [IdCommittee], [PhotoStaff]) VALUES (12, N'Юрий', N'Димченко', N'Дмитриевич', N'+7(934)234-23-12', CAST(N'2004-10-20' AS Date), 1, 3, CAST(N'2023-10-17' AS Date), 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Login], [Password], [IdRole]) VALUES (1, N'Man', N'999', 3)
INSERT [dbo].[User] ([IdUser], [Login], [Password], [IdRole]) VALUES (2, N'Egor', N'111', 1)
INSERT [dbo].[User] ([IdUser], [Login], [Password], [IdRole]) VALUES (3, N'Yura', N'123', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[AppealsAndComplaints]  WITH CHECK ADD  CONSTRAINT [FK_AppealsAndComplaints_Staff] FOREIGN KEY([IdStaff])
REFERENCES [dbo].[Staff] ([IdStaff])
GO
ALTER TABLE [dbo].[AppealsAndComplaints] CHECK CONSTRAINT [FK_AppealsAndComplaints_Staff]
GO
ALTER TABLE [dbo].[AppealsAndComplaints]  WITH CHECK ADD  CONSTRAINT [FK_AppealsAndComplaints_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[AppealsAndComplaints] CHECK CONSTRAINT [FK_AppealsAndComplaints_Status]
GO
ALTER TABLE [dbo].[Budget]  WITH CHECK ADD  CONSTRAINT [FK_Budget_Committee] FOREIGN KEY([IdCommitte])
REFERENCES [dbo].[Committee] ([IdCommittee])
GO
ALTER TABLE [dbo].[Budget] CHECK CONSTRAINT [FK_Budget_Committee]
GO
ALTER TABLE [dbo].[CommitteePayment]  WITH CHECK ADD  CONSTRAINT [FK_CommitteePayment_Staff] FOREIGN KEY([IdStaff])
REFERENCES [dbo].[Staff] ([IdStaff])
GO
ALTER TABLE [dbo].[CommitteePayment] CHECK CONSTRAINT [FK_CommitteePayment_Staff]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [FK_Meetings_Committee] FOREIGN KEY([IdCommittee])
REFERENCES [dbo].[Committee] ([IdCommittee])
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [FK_Meetings_Committee]
GO
ALTER TABLE [dbo].[Organizations]  WITH CHECK ADD  CONSTRAINT [FK_Organizations_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[Organizations] CHECK CONSTRAINT [FK_Organizations_Status]
GO
ALTER TABLE [dbo].[SocialPrograms]  WITH CHECK ADD  CONSTRAINT [FK_SocialPrograms_Committee] FOREIGN KEY([IdCommitte])
REFERENCES [dbo].[Committee] ([IdCommittee])
GO
ALTER TABLE [dbo].[SocialPrograms] CHECK CONSTRAINT [FK_SocialPrograms_Committee]
GO
ALTER TABLE [dbo].[Solutions]  WITH CHECK ADD  CONSTRAINT [FK_Solutions_Meetings] FOREIGN KEY([IdMeetings])
REFERENCES [dbo].[Meetings] ([IdMeetings])
GO
ALTER TABLE [dbo].[Solutions] CHECK CONSTRAINT [FK_Solutions_Meetings]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Committee] FOREIGN KEY([IdCommittee])
REFERENCES [dbo].[Committee] ([IdCommittee])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Committee]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Departament] FOREIGN KEY([IdDepartment])
REFERENCES [dbo].[Departament] ([IdDepartament])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Departament]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Gender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([IdGender])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Gender]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_User1] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
